:root {
    --iris-color: #4D5AE5;
    --navyblue-color: #2E2F42;
    --slate-color: #434455;
    --white-color: #FFF;
    --cloud-color: #F4F4FD;
}

.main-settings {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: var(--slate-color);
    background-color: var(--white-color);
}

.logo-web {
    font-family: "Raleway", sans-serif;
    color: var(--iris-color);
    text-transform: uppercase;
    font-weight: 800;
}

.logo-link,
.list-link {
    text-decoration: none;
}

.unordered-list {
    list-style-type: none;
}

.logo-studio {
    font-family: "Raleway", sans-serif;
    color: var(--navyblue-color);
    text-transform: uppercase;
    font-weight: 800;
}

.link-panel {
    color: var(--navyblue-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.basement {
    background-color: var(--navyblue-color);
    color: var(--cloud-color);
}

.basement .logo-studio {
    color: var(--cloud-color);
}